<md-toolbar>
  <span class="fill-remaining-space"></span>

  <button md-icon-button [mdMenuTriggerFor]="menu" class="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="refresh()">
      <md-icon>refresh</md-icon>
      <span>Refresh</span>
    </button>
    <button md-menu-item (click)="addCamera()" *ngIf="authService.loggedInUser?.is_admin">
      <md-icon>add</md-icon>
      <span>Add new camera</span>
    </button>
    <button md-menu-item [routerLink]="URLS.admin.users" *ngIf="authService.loggedInUser?.is_admin">
      <md-icon>perm_identity</md-icon>
      <span>Users</span>
    </button>
    <button md-menu-item (click)="signOut()" *ngIf="authService.loggedInUser">
      <md-icon>notifications_none</md-icon>
      <span>Sign out</span>
    </button>
  </md-menu>
</md-toolbar>

<router-outlet></router-outlet>
