<md-toolbar>
  <span class="fill-remaining-space"></span>

  <button md-icon-button [mdMenuTriggerFor]="menu" class="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="refresh()">
      <md-icon>refresh</md-icon>
      <span>Refresh</span>
    </button>
    <button md-menu-item (click)="authService.toggleAdminView()" *ngIf="authService.loggedInUser?.is_admin">
      <md-icon [ngSwitch]="authService.adminViewEnabled()">
        <ng-container *ngSwitchCase="true">visibility</ng-container>
        <ng-container *ngSwitchCase="false">visibility_off</ng-container>
      </md-icon>
      <span>Admin view</span>
    </button>
    <button md-menu-item (click)="addCamera()" *ngIf="authService.loggedInUser?.is_admin">
      <md-icon>add</md-icon>
      <span>Add new camera</span>
    </button>
    <button md-menu-item [routerLink]="URLS.admin.users" *ngIf="authService.loggedInUser?.is_admin">
      <md-icon>perm_identity</md-icon>
      <span>Users</span>
    </button>
    <button md-menu-item (click)="notificationModal()">
      <md-icon [ngSwitch]="workerService.getState()">
        <ng-container *ngSwitchCase="workerService.state.BLOCKED">
          notifications_none
        </ng-container>
        <ng-container *ngSwitchCase="workerService.state.NOT_SUBSCRIBED">
          notifications_off
        </ng-container>
        <ng-container *ngSwitchCase="workerService.state.SUBSCRIBED">
          notifications_active
        </ng-container>
      </md-icon>
      <span>Notification</span>
    </button>

    <button md-menu-item (click)="signOut()" *ngIf="authService.loggedInUser">
      <md-icon>exit_to_app</md-icon>
      <span>Sign out</span>
    </button>
  </md-menu>
</md-toolbar>

<router-outlet></router-outlet>
